* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.step2-container {
  padding: 1rem;
  max-width: 70%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 0.8rem;
  background: #111111;
  color: white;
}
.choice {
  display: flex;
  flex-direction: row;
  align-items: center;
}
option {
  background-color: #111111;
  color: white;
}
select {
  background-color: #111111;
  color: white;
  padding: 0.5rem;
}

input {
  background-color: #111111;
  color: white;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
}
button {
  background-color: #252525;
  border: 1px solid #ffffff90;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff90;
  font-size: 0.7rem;
  width: 20vw;
  height: 2rem;
}
button:hover {
  background: #444444;
}
