<div class="step2-container">
  <h4>Step 2: Select your config and options</h4>

  @if (carOptions) {

  <div class="choice">
    <p>config :{{ "" }}</p>

    <select class="config-dropdown" (change)="onConfigSelect($event)">
      <option value="" disabled selected>Choose a configuration...</option>
      @for (config of carOptions.configs; track config.id) {
      <option [value]="config.id" [selected]="selectedConfig?.id === config.id">
        {{ config.description }} ({{ formatPrice(config.price) }})
      </option>
      }
    </select>
  </div>

  @if(selectedConfig){
  <p>Range:{{ range }}-Max-Speed:{{ topSpeed }}-price{{ baseModelPrice }}</p>
  }

  <div class="options-section">
    @if (carOptions.yoke) {
    <div class="option-item">
      <label>
        Yoke Steering Wheel ({{ formatPrice(1000) }})
        <input
          type="checkbox"
          [checked]="yokeSelected"
          (change)="toggleYoke()"
        />
      </label>
    </div>
    } @if (carOptions.towHitch) {
    <div class="option-item">
      <label>
        Tow Hitch Package ({{ formatPrice(1000) }})
        <input
          type="checkbox"
          [checked]="towHitchSelected"
          (change)="toggleTowHitch()"
        />
      </label>
    </div>
    }
    <button (click)="goToStep3()">STEP 3</button>
  </div>
  }
</div>
<img [src]="carImageUrl" alt="Car Image" class="center" />
